.navButtonsWrapper {
  position: relative;
}

.navButtons {
  display: flex;
  padding: to-rem(6px);
  width: fit-content;
  position: relative;
  margin-right: to-rem(34px);

  &_enabled {
    &:hover {
      gap: to-rem(10px);
      border-radius: 6px;
      background: var(--border-color);
      & .deleteButton {
        display: flex;
      }
      margin-right: to-rem(8px);
    }
  }
}

.verticalLine {
  display: none;
  &_child {
    display: block;
    position: absolute;
    bottom: to-rem(14px);
    left: to-rem(-6px);
    height: to-rem(63px);
    width: to-rem(1px);
    background: var(--tertiary-background-color);
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: to-rem(12px);
      height: to-rem(1px);
      background: var(--tertiary-background-color);
      z-index: 1;
    }
  }
}

.deleteButton {
  display: none;
}
