:root {
  --primary-color: white;
  --secondary-color: #27272a;
  --tertiary-color: #202124;
  --quaternary-color: #a1a1aa;
  --quaternary1-color: #c6c6c6;
  --quaternary2-color: #71717a;
  --error-color: red;
  --border-color: #414144;
  --font-family-main: 'Roboto', sans-serif;
  --font-size-sm: 10px;
  --font-size-md: 14px;
  --font-size-lg: 18px;
  --font-weight-sm: 400;
  --letter-spacing-sm: 0.1px;
  --line-height-sm: 1.3;
}
