.table {
  border-collapse: collapse;

  width: 100%;

  font-feature-settings:
    'clig' off,
    'liga' off;
  line-height: var(--line-height-sm);
  letter-spacing: var(--letter-spacing-sm);
}

.headerCell {
  padding: 0 to-rem(12px) to-rem(12px) to-rem(12px);
  font-weight: var(--font-weight-sm);
  color: var(--secondary-color);
  text-align: start;

  &:not(:first-child, .headerCell_responsive) {
    min-width: to-rem(200px);
  }

  &_responsive {
    min-width: calc(100vw - var(--width-menu) - 200px * 5);
  }
}

.headerRow {
  text-wrap: nowrap;
  border-bottom: 1px solid var(--border-color);
}

.loaderWrapper {
  display: flex;
  height: 100%;
  margin: auto;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-sm);
}
